
<div class="login-container container mt-5">
  <div class="me-5">
    <h1>Fitbook</h1>
  </div>
  <div>
    <div class="login-button container">
    <%= link_to "New User", new_user_path, class:"btn btn-light mb-4" %>
    </div>
    <% @users.each do |user| %>
      <div class="login">
        <%= user.photo.attached? ? cl_image_tag(user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
        <div class="login-content">
          <p><%= link_to user.username, user_path(user) %></p>
        </div>
        <div class="login-actions">
        <p class="ml-5">Dumpter</p>
          <%= link_to user_path(user), data: { turbo_method: 'delete', turbo_confirm: "Delete User: #{user.username}?" }, class: 'btn' do %>
            <i class="fa-solid fa-dumpster"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
