
<body class="index">
  <div>
    <div class="index-top">
      <h1 class="main-title">Fitbook</h1>
    </div>
    <div class="index-main">
      <div class="intro-text-container">
        <div class="intro-text-box">
          <p class="intro-text">
          Put together and manage your outfits, for quick and easy reference when you're in
          need of a quick fit!
          </p>
        </div>
      </div>
      <div class="users-container">
        <%= link_to "New User", new_user_path, class:"new-button" %>
        <% @users.each do |user| %>
          <div class="user-card">
            <%= user.photo.attached? ? cl_image_tag(user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
            <div class="login-content">
              <p><%= link_to user.username, user_path(user) %></p>
            </div>
            <div class="login-actions">
              <%= link_to user_path(user), data: { turbo_method: 'delete', turbo_confirm: "Delete User: #{user.username}?" }, class: 'btn' do %>
                <i class="fa-solid fa-dumpster"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
