<%= link_to "New User", new_user_path, class:"btn btn-light m-2" %>

<% @users.each do |user| %>
  <div class="login">
    <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(user.photo.key) : image_path("users/blankuser") %>')" >
    <div class="login-content">
      <p><%= link_to user.username, user_path(user) %></p>
    </div>
    <div class="login-actions">
      <a href="#">Dumpter <i class="fa-solid fa-dumpster"></i></a>
    </div>
  </div>
<% end %>
