.users-container {
  width: 40vh;
  padding: 8px;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  padding: 8px;
  border: 1px solid #a1a1a1;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px #00000033;
}

.user-card .login-content {
  flex-grow: 1;
  padding: 0 24px;
}

.user-card p {
  margin: 0;
  line-height: 1.4;
  color: #999999;
  font-weight: bold;
}

.user-card .login-actions {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: ease .3s;
  font-size: 12px;
  .btn {
    margin:0px
  }
}

.user-card:hover .login-actions {
  opacity: 1;
}

.user-card a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}

.user-card a:hover {
  color: #555555;
}

.user-card .login-actions a {
  margin-left: 16px;
  font-size: 14px;
}

.user-card .avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  object-fit: cover;
}
