.fit-container {
  display:flex;
  justify-content: center;
  padding: 12px;
}

.user-bar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  background: white;
  padding: 8px;
  border: 1px solid #a1a1a1;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px #00000033;
  line-height: 1.4;
}

.user-bar .avatar {
  width: 120px;
}

.fit-card-container {
  display:grid;
  margin-top: 3rem;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
}

.fit-card {
  background: white;
  padding: 8px;
  border: 1px solid #a1a1a1;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px #00000033;
  margin-bottom: 8px;

  h4 {
    margin-left:8px;
  }
}

.item-card-container {
  display:flex;
}

.item-card {
  padding: 8px;
}

.item-card p {
  margin: 0px;
  font-size: 14px;
}

.item-img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border: 1px solid #a1a1a1;
  border-radius: 0.25rem;
}
