.new-card {
  padding:8px;
  width: 50%;
}

.show-card {
  display: flex;
  padding: 16px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 16px;
  box-shadow: 8px 8px 8px #00000033;
  background-color:#359bfc;
  color: #292929;
  h1 {
    font-family: Lobster;
  }
}

.show-buttons {
  display:flex;
  justify-content:center;
}

.item-card {
  margin: 4px;
  box-shadow: 4px 4px 4px #00000033;
  object-fit: cover;
  padding: 0px;
}

.notes {
  display:flex;
  justify-content: flex-end;
}
